.sidebar {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 220px;
    position: absolute;
    top: 0;
    height: 100vh;
    border-right: 1px solid rgb(215,215,215);
}

.logo_img {
    margin-top: 15px;
}
.menu_links {
    margin-bottom: auto;
}

.menu_links ul {
    list-style: none;
    padding-left: 0;
}

.menu_links a {
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 16px;
}
.nav-link {
    width: 200px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.nav-link svg {
    height: 24px;
    width: 24px;
}

.nav-link svg, .nav-link span {
    vertical-align: middle;
    display: inline-block;
}

.nav-link span {
    padding-left: 10px;
}

.active {
    font-weight: 700 !important;
}


.nav-link:hover, .nav-link:focus {
    background-color: rgb(242,242,242);
    color: rgb(0,0,0);
    border-radius: 3px;
}

.btn_deconnexion {
    padding: 20px;
    border-top: 1px solid rgb(215,215,215);
}

.btn_deconnexion a {
    color: rgb(0,0,0);
    text-decoration: none;
}